@use '../../styles/helpers.scss' as *;

$mink-tooltip-max-width: var(--#{$ns}-unit-64);

$mink-tooltip-px: calc(var(--#{$ns}-padding-xs) / 2);

$mink-tooltip-py: var(--#{$ns}-padding-xs);

$mink-tooltip-arrow-size: 16px;
