@use '../../styles/helpers.scss' as *;
@use './tokens.scss' as *;
@use './mixins.scss' as *;

$ns-button: #{$ns}-button;

.#{$ns-button} {
  @include reset-component();

  @include btn-base();

  @include btn-icon-gap($ns-button, 0, var(--#{$ns}-unit-2));

  // text
  --#{$ns}-btn-color-text: var(--#{$ns}-color-text);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-primary-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-primary-active);

  // border
  --#{$ns}-btn-color-border: var(--#{$ns}-color-border);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-primary-hover);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-primary-active);

  // bg
  --#{$ns}-btn-color-bg: var(--#{$ns}-color-bg);
  --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-bg);
  --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-bg);

  // outline
  --#{$ns}-btn-color-outline: var(--#{$ns}-color-primary-hover);

  // size
  --#{$ns}-btn-height: #{$mink-btn-height};
  --#{$ns}-btn-padding: #{$mink-btn-padding};
  --#{$ns}-btn-font: #{$mink-btn-font-size};

  // radius
  --#{$ns}-btn-radius: var(--#{$ns}-border-radius);

  width: var(--#{$ns}-btn-width);
  height: var(--#{$ns}-btn-height);
  padding: var(--#{$ns}-btn-padding);
  font-size: var(--#{$ns}-btn-font);

  color: var(--#{$ns}-btn-color-text);
  border-color: var(--#{$ns}-btn-color-border);
  background-color: var(--#{$ns}-btn-color-bg);

  border-radius: var(--#{$ns}-btn-radius);

  &:hover {
    color: var(--#{$ns}-btn-color-text-hover);
    background-color: var(--#{$ns}-btn-color-bg-hover);
    border-color: var(--#{$ns}-btn-color-border-hover);
  }

  &:active {
    color: var(--#{$ns}-btn-color-text-active);
    background-color: var(--#{$ns}-btn-color-bg-active);
    border-color: var(--#{$ns}-btn-color-border-active);
  }

  &:focus-visible {
    outline: var(--#{$ns}-outline-width-focus) solid var(--#{$ns}-btn-color-outline);
    outline-offset: var(--#{$ns}-outline-offset);
  }
}

.#{$ns-button}--theme-primary {
  // text
  --#{$ns}-btn-color-text: var(--#{$ns}-color-primary);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-primary-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-primary-active);

  // border
  --#{$ns}-btn-color-border: var(--#{$ns}-color-primary);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-primary-hover);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-primary-active);

  // bg
  --#{$ns}-btn-color-bg: var(--#{$ns}-color-bg);
  --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-bg);
  --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-bg);

  // outline
  --#{$ns}-btn-color-outline: var(--#{$ns}-color-primary-hover);
}

.#{$ns-button}--theme-success {
  // text
  --#{$ns}-btn-color-text: var(--#{$ns}-color-success);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-success-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-success-active);

  // border
  --#{$ns}-btn-color-border: var(--#{$ns}-color-success);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-success-hover);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-success-active);

  // outline
  --#{$ns}-btn-color-outline: var(--#{$ns}-color-success-hover);
}

.#{$ns-button}--theme-warning {
  // text
  --#{$ns}-btn-color-text: var(--#{$ns}-color-warning);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-warning-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-warning-active);

  // border
  --#{$ns}-btn-color-border: var(--#{$ns}-color-warning);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-warning-hover);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-warning-active);

  // outline
  --#{$ns}-btn-color-outline: var(--#{$ns}-color-warning-hover);
}

.#{$ns-button}--theme-danger {
  // text
  --#{$ns}-btn-color-text: var(--#{$ns}-color-error);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-error-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-error-active);

  // border
  --#{$ns}-btn-color-border: var(--#{$ns}-color-error);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-error-hover);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-error-active);

  // outline
  --#{$ns}-btn-color-outline: var(--#{$ns}-color-error-hover);
}

.#{$ns-button}--variant-solid {
  // text
  --#{$ns}-btn-color-text: var(--#{$ns}-color-white);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-white);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-white);

  // border
  --#{$ns}-btn-color-border: transparent;
  --#{$ns}-btn-color-border-hover: transparent;
  --#{$ns}-btn-color-border-active: transparent;

  // bg
  --#{$ns}-btn-color-bg: rgba(0, 0, 0, 1);
  --#{$ns}-btn-color-bg-hover: rgba(0, 0, 0, 0.75);
  --#{$ns}-btn-color-bg-active: rgba(0, 0, 0, 0.95);

  &.#{$ns-button}--theme-primary {
    // bg
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-primary);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-primary-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-primary-active);
  }

  &.#{$ns-button}--theme-success {
    // bg
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-success);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-success-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-success-active);
  }

  &.#{$ns-button}--theme-warning {
    // bg
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-warning);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-warning-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-warning-active);
  }

  &.#{$ns-button}--theme-danger {
    // bg
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-error);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-error-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-error-active);
  }
}

.#{$ns-button}--variant-dashed {
  border-style: dashed;
}

.#{$ns-button}--variant-filled {
  // text
  --#{$ns}-btn-color-text: var(--#{$ns}-color-text);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-text);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-text);

  // border
  --#{$ns}-btn-color-border: transparent;
  --#{$ns}-btn-color-border-hover: transparent;
  --#{$ns}-btn-color-border-active: transparent;

  // bg
  --#{$ns}-btn-color-bg: var(--#{$ns}-color-fill-tertiary);
  --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-fill-secondary);
  --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-fill);

  &.#{$ns-button}--theme-primary {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-primary);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-primary);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-primary);

    // bg
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-primary-bg);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-primary-bg-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-primary-border);
  }

  &.#{$ns-button}--theme-success {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-success);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-success);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-success);

    // bg
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-success-bg);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-success-bg-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-success-border);
  }

  &.#{$ns-button}--theme-warning {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-warning);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-warning);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-warning);

    // bg
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-warning-bg);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-warning-bg-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-warning-border);
  }

  &.#{$ns-button}--theme-danger {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-error);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-error);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-error);

    // bg
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-error-bg);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-error-bg-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-error-border);
  }
}

.#{$ns-button}--variant-text {
  // text
  --#{$ns}-btn-color-text: var(--#{$ns}-color-text);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-text);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-text);

  // border
  --#{$ns}-btn-color-border: transparent;
  --#{$ns}-btn-color-border-hover: transparent;
  --#{$ns}-btn-color-border-active: transparent;

  // bg
  --#{$ns}-btn-color-bg: transparent;
  --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-fill-secondary);
  --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-fill);

  &.#{$ns-button}--theme-primary {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-primary);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-primary);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-primary);

    // bg
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-primary-bg-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-primary-border);
  }

  &.#{$ns-button}--theme-success {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-success);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-success);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-success);

    // bg
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-success-bg-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-success-border);
  }

  &.#{$ns-button}--theme-warning {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-warning);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-warning);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-warning);

    // bg
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-warning-bg-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-warning-border);
  }

  &.#{$ns-button}--theme-danger {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-error);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-error);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-error);

    // bg
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-error-bg-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-error-border);
  }
}

.#{$ns-button}--variant-link {
  text-decoration: none;

  // text
  --#{$ns}-btn-color-text: var(--#{$ns}-color-text);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-primary-text-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-primary-text-active);

  // border
  --#{$ns}-btn-color-border: transparent;
  --#{$ns}-btn-color-border-hover: transparent;
  --#{$ns}-btn-color-border-active: transparent;

  // bg
  --#{$ns}-btn-color-bg: transparent;
  --#{$ns}-btn-color-bg-hover: transparent;
  --#{$ns}-btn-color-bg-active: transparent;

  &.#{$ns-button}--theme-primary {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-primary);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-primary-text-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-primary-text-active);
  }

  &.#{$ns-button}--theme-success {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-success);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-success-text-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-success-text-active);
  }

  &.#{$ns-button}--theme-warning {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-warning);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-warning-text-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-warning-text-active);
  }

  &.#{$ns-button}--theme-danger {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-error);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-error-text-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-error-text-active);
  }
}

.#{$ns-button}--size-small {
  // size
  --#{$ns}-btn-height: #{$mink-btn-height-sm};
  --#{$ns}-btn-padding: #{$mink-btn-padding-sm};
  --#{$ns}-btn-font: #{$mink-btn-font-size-sm};
}

.#{$ns-button}--size-large {
  // size
  --#{$ns}-btn-height: #{$mink-btn-height-lg};
  --#{$ns}-btn-padding: #{$mink-btn-padding-lg};
  --#{$ns}-btn-font: #{$mink-btn-font-size-lg};
}

.#{$ns-button}--shape-round {
  // radius
  --#{$ns}-btn-radius: var(--#{$ns}-border-radius-round);
}

.#{$ns-button}--shape-circle {
  // size
  --#{$ns}-btn-width: var(--#{$ns}-btn-height);
  --#{$ns}-btn-padding: 0;

  // radius
  --#{$ns}-btn-radius: var(--#{$ns}-border-radius-circle);
}

.#{$ns-button}--block {
  // size
  --#{$ns}-btn-width: 100%;
}

.#{$ns-button}--ghost {
  // bg
  --#{$ns}-btn-color-bg: transparent;
  --#{$ns}-btn-color-bg-hover: transparent;
  --#{$ns}-btn-color-bg-active: transparent;
}

.#{$ns-button}--icon-only {
  // size
  --#{$ns}-btn-width: var(--#{$ns}-btn-height);
}

.#{$ns-button}--icon-end {
  @include btn-icon-gap($ns-button, var(--#{$ns}-unit-2), 0);

  flex-direction: row-reverse;
}

.#{$ns-button}--loading {
  cursor: default;
  opacity: $mink-btn-loading-opacity;
}

.#{$ns-button}--disabled {
  // text
  --#{$ns}-btn-color-text: var(--#{$ns}-color-text-placeholder);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-text-placeholder);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-text-placeholder);

  // border
  --#{$ns}-btn-color-border: var(--#{$ns}-color-border);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-border);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-border);

  // bg
  --#{$ns}-btn-color-bg: var(--#{$ns}-color-background);
  --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-background);
  --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-background);

  &.#{$ns-button}--theme-primary,
  &.#{$ns-button}--theme-success,
  &.#{$ns-button}--theme-warning,
  &.#{$ns-button}--theme-danger {
    // text
    --#{$ns}-btn-color-text: var(--#{$ns}-color-text-placeholder);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-text-placeholder);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-text-placeholder);

    // border
    --#{$ns}-btn-color-border: var(--#{$ns}-color-border);
    --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-border);
    --#{$ns}-btn-color-border-active: var(--#{$ns}-color-border);

    // bg
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-background);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-background);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-background);
  }

  &.#{$ns-button}--variant-text,
  &.#{$ns-button}--variant-link {
    // border
    --#{$ns}-btn-color-border: transparent;
    --#{$ns}-btn-color-border-hover: transparent;
    --#{$ns}-btn-color-border-active: transparent;

    // bg
    --#{$ns}-btn-color-bg: transparent;
    --#{$ns}-btn-color-bg-hover: transparent;
    --#{$ns}-btn-color-bg-active: transparent;
  }
}

.#{$ns-button}-icon-motion {
  &-enter-from,
  &-exit-to {
    opacity: 0;
  }

  &-enter-active,
  &-exit-active {
    overflow: hidden;
    user-select: none;
    transition:
      opacity var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out),
      width var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out);
  }

  &-exit-done {
    display: none !important;
  }
}
