@use '../../styles/helpers.scss' as *;
@use './tokens.scss' as *;
@use './mixins.scss' as *;

$ns-button: #{$ns}-button;

.#{$ns-button} {
  @include reset-component();

  @include btn-base();

  // color
  --#{$ns}-btn-color-text: var(--#{$ns}-color-text);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-primary);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-primary-active);
  --#{$ns}-btn-color-border: var(--#{$ns}-color-border);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-primary-hover);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-primary-active);
  --#{$ns}-btn-color-bg: var(--#{$ns}-color-bg);
  --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-bg);
  --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-bg);

  // size
  --#{$ns}-btn-height: #{$mink-btn-height};
  --#{$ns}-btn-padding: #{$mink-btn-padding};
  --#{$ns}-btn-font: #{$mink-btn-font-size};

  // radius
  --#{$ns}-btn-radius: var(--#{$ns}-border-radius);

  // outline
  --#{$ns}-btn-color-outline: var(--#{$ns}-color-primary-hover);

  // size
  height: var(--#{$ns}-btn-height);
  padding: var(--#{$ns}-btn-padding);
  color: var(--#{$ns}-btn-color-text);
  font-size: var(--#{$ns}-btn-font);
  background-color: var(--#{$ns}-btn-color-bg);
  border-color: var(--#{$ns}-btn-color-border);

  // shape
  border-radius: var(--#{$ns}-btn-radius);

  &:hover {
    color: var(--#{$ns}-btn-color-text-hover);
    background-color: var(--#{$ns}-btn-color-bg-hover);
    border-color: var(--#{$ns}-btn-color-border-hover);
  }

  &:active {
    color: var(--#{$ns}-btn-color-text-active);
    background-color: var(--#{$ns}-btn-color-bg-active);
    border-color: var(--#{$ns}-btn-color-border-active);
  }

  &:focus-visible {
    outline-color: var(--#{$ns}-btn-color-outline);
    outline-offset: $mink-btn-outline-offset;
  }
}

.#{$ns-button}--theme-success {
  --#{$ns}-btn-color-text: var(--#{$ns}-color-success);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-success-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-success-active);
  --#{$ns}-btn-color-border: var(--#{$ns}-color-success);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-success-hover);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-success-active);
  --#{$ns}-btn-color-outline: var(--#{$ns}-color-success-hover);
}

.#{$ns-button}--theme-warning {
  --#{$ns}-btn-color-text: var(--#{$ns}-color-warning);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-warning-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-warning-active);
  --#{$ns}-btn-color-border: var(--#{$ns}-color-warning);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-warning-hover);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-warning-active);
  --#{$ns}-btn-color-outline: var(--#{$ns}-color-warning-hover);
}

.#{$ns-button}--theme-danger {
  --#{$ns}-btn-color-text: var(--#{$ns}-color-error);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-error-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-error-active);
  --#{$ns}-btn-color-border: var(--#{$ns}-color-error);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-error-hover);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-error-active);
  --#{$ns}-btn-color-outline: var(--#{$ns}-color-error-hover);
}

.#{$ns-button}--theme-info {
  --#{$ns}-btn-color-text: var(--#{$ns}-color-info);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-info-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-info-active);
  --#{$ns}-btn-color-border: var(--#{$ns}-color-info);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-info-hover);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-info-active);
  --#{$ns}-btn-color-outline: var(--#{$ns}-color-info-hover);
}

.#{$ns-button}--variant-filled {
  --#{$ns}-btn-color-text: var(--#{$ns}-color-white);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-white);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-white);
  --#{$ns}-btn-color-border: transparent;
  --#{$ns}-btn-color-border-hover: transparent;
  --#{$ns}-btn-color-border-active: transparent;
  --#{$ns}-btn-color-bg: var(--#{$ns}-color-primary);
  --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-primary-hover);
  --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-primary-active);

  &.#{$ns-button}--theme-success {
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-success);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-success-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-success-active);
  }

  &.#{$ns-button}--theme-warning {
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-warning);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-warning-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-warning-active);
  }

  &.#{$ns-button}--theme-danger {
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-error);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-error-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-error-active);
  }

  &.#{$ns-button}--theme-info {
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-info);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-info-hover);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-info-active);
  }
}

.#{$ns-button}--variant-dashed {
  border-style: dashed;
}

.#{$ns-button}--variant-text {
  --#{$ns}-btn-color-text: var(--#{$ns}-color-text-regular);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-primary);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-primary-active);
  --#{$ns}-btn-color-border: transparent;
  --#{$ns}-btn-color-border-hover: transparent;
  --#{$ns}-btn-color-border-active: transparent;
  --#{$ns}-btn-color-bg: transparent;
  --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-fill-light);
  --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-fill-dark);

  &.#{$ns-button}--theme-success {
    --#{$ns}-btn-color-text: var(--#{$ns}-color-success);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-success-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-success-active);
  }

  &.#{$ns-button}--theme-warning {
    --#{$ns}-btn-color-text: var(--#{$ns}-color-warning);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-warning-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-warning-active);
  }

  &.#{$ns-button}--theme-danger {
    --#{$ns}-btn-color-text: var(--#{$ns}-color-error);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-error-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-error-active);
  }

  &.#{$ns-button}--theme-info {
    --#{$ns}-btn-color-text: var(--#{$ns}-color-info);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-info-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-info-active);
  }
}

.#{$ns-button}--variant-link {
  --#{$ns}-btn-color-text: var(--#{$ns}-color-primary);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-primary-hover);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-primary-active);
  --#{$ns}-btn-color-border: transparent;
  --#{$ns}-btn-color-border-hover: transparent;
  --#{$ns}-btn-color-border-active: transparent;
  --#{$ns}-btn-color-bg: transparent;
  --#{$ns}-btn-color-bg-hover: transparent;
  --#{$ns}-btn-color-bg-active: transparent;

  &.#{$ns-button}--theme-success {
    --#{$ns}-btn-color-text: var(--#{$ns}-color-success);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-success-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-success-active);
  }

  &.#{$ns-button}--theme-warning {
    --#{$ns}-btn-color-text: var(--#{$ns}-color-warning);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-warning-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-warning-active);
  }

  &.#{$ns-button}--theme-danger {
    --#{$ns}-btn-color-text: var(--#{$ns}-color-error);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-error-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-error-active);
  }

  &.#{$ns-button}--theme-info {
    --#{$ns}-btn-color-text: var(--#{$ns}-color-info);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-info-hover);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-info-active);
  }
}

.#{$ns-button}--size-small {
  --#{$ns}-btn-height: #{$mink-btn-height-sm};
  --#{$ns}-btn-padding: #{$mink-btn-padding-sm};
  --#{$ns}-btn-font: #{$mink-btn-font-size-sm};
}

.#{$ns-button}--size-large {
  --#{$ns}-btn-height: #{$mink-btn-height-lg};
  --#{$ns}-btn-padding: #{$mink-btn-padding-lg};
  --#{$ns}-btn-font: #{$mink-btn-font-size-lg};
}

.#{$ns-button}--shape-round {
  --#{$ns}-btn-radius: var(--#{$ns}-border-radius-round);
}

.#{$ns-button}--shape-circle {
  --#{$ns}-btn-padding: 0;

  width: $mink-btn-height;

  --#{$ns}-btn-radius: var(--#{$ns}-border-radius-circle);

  &.#{$ns-button}--size-small {
    width: $mink-btn-height-sm;
  }

  &.#{$ns-button}--size-large {
    width: $mink-btn-height-lg;
  }
}

.#{$ns-button}--block {
  width: 100%;
}

.#{$ns-button}--ghost {
  --#{$ns}-btn-color-bg: transparent;
  --#{$ns}-btn-color-bg-hover: transparent;
  --#{$ns}-btn-color-bg-active: transparent;
}

// .#{$ns-button}--loading {
// }

// TODO: 优化禁用时的颜色
.#{$ns-button}--disabled {
  --#{$ns}-btn-color-text: var(--#{$ns}-color-text-placeholder);
  --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-text-placeholder);
  --#{$ns}-btn-color-text-active: var(--#{$ns}-color-text-placeholder);
  --#{$ns}-btn-color-border: var(--#{$ns}-color-border);
  --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-border);
  --#{$ns}-btn-color-border-active: var(--#{$ns}-color-border);
  --#{$ns}-btn-color-bg: var(--#{$ns}-color-background);
  --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-background);
  --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-background);

  &.#{$ns-button}--theme-success,
  &.#{$ns-button}--theme-warning,
  &.#{$ns-button}--theme-danger,
  &.#{$ns-button}--theme-info {
    --#{$ns}-btn-color-text: var(--#{$ns}-color-text-placeholder);
    --#{$ns}-btn-color-text-hover: var(--#{$ns}-color-text-placeholder);
    --#{$ns}-btn-color-text-active: var(--#{$ns}-color-text-placeholder);
    --#{$ns}-btn-color-border: var(--#{$ns}-color-border);
    --#{$ns}-btn-color-border-hover: var(--#{$ns}-color-border);
    --#{$ns}-btn-color-border-active: var(--#{$ns}-color-border);
    --#{$ns}-btn-color-bg: var(--#{$ns}-color-background);
    --#{$ns}-btn-color-bg-hover: var(--#{$ns}-color-background);
    --#{$ns}-btn-color-bg-active: var(--#{$ns}-color-background);
  }
}
