@use '../../styles/helpers.scss' as *;

$mink-btn-border: var(--#{$ns}-line-width) var(--#{$ns}-line-type) var(--#{$ns}-color-transparent);

$mink-btn-padding-sm: 0 calc(var(--#{$ns}-padding-xs) - var(--#{$ns}-line-width));

$mink-btn-padding: 0 calc(var(--#{$ns}-padding) - var(--#{$ns}-line-width));

$mink-btn-padding-lg: $mink-btn-padding;

$mink-btn-height-sm: var(--#{$ns}-height-sm);

$mink-btn-height: var(--#{$ns}-height);

$mink-btn-height-lg: var(--#{$ns}-height-lg);

$mink-btn-font-size-sm: var(--#{$ns}-font-size-sm);

$mink-btn-font-size: var(--#{$ns}-font-size);

$mink-btn-font-size-lg: var(--#{$ns}-font-size);

$mink-btn-transition:
  all var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out),
  outline 0s,
  outline-offset 0s;

$mink-btn-loading-opacity: 0.65;
