@use '../../styles/helpers.scss' as *;
@use './tokens.scss' as *;
@use './mixins.scss' as *;

$ns-divider: #{$ns}-divider;

.#{$ns-divider} {
  @include reset-component();

  border-top: $mink-divider-border;

  &--vertical {
    position: relative;
    top: -0.06em;
    display: inline-block;
    height: 0.9em;
    margin: $mink-divider-margin-vertical;
    vertical-align: middle;
    border-top: none;
    border-left: $mink-divider-border;
  }

  &--horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: $mink-divider-margin-middle;

    &.#{$ns-divider}--size-small {
      margin: $mink-divider-margin-small;
    }

    &.#{$ns-divider}--size-large {
      margin: $mink-divider-margin-large;
    }
  }

  &--with-text {
    @include divider-percent(50%);

    margin: $mink-divider-margin-with-text;
    color: $mink-divider-color-text;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: '';

      border-top: $mink-divider-border;
    }

    &.#{$ns-divider}--plain {
      font-weight: 400;
      font-size: 14px;
    }

    &.#{$ns-divider}--variant-dashed {
      &::before,
      &::after {
        border-top-style: dashed;
      }
    }
    &.#{$ns-divider}--variant-dotted {
      &::before,
      &::after {
        border-top-style: dotted;
      }
    }
  }

  &--plain {
    font-weight: 400;
    font-size: 14px;
  }

  &--variant-dashed {
    border-top-style: dashed;
  }

  &--variant-dotted {
    border-top-style: dotted;
  }

  &--align-left {
    @include divider-percent(5%);
  }

  &--align-right {
    @include divider-percent(95%);
  }

  &__content {
    display: inline-block;
    padding: $mink-divider-margin-content;
  }
}
