@use '../../styles/helpers.scss' as *;
@use './tokens.scss' as *;
@use './mixins.scss' as *;

$ns-space: #{$ns}-space;

.#{$ns-space} {
  @include reset-component();

  display: inline-flex;
  width: 100%;

  &--align {
    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }
  }

  &--vertical {
    flex-direction: column;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--row {
    &-small {
      row-gap: $space-gutter-small;
    }

    &-middle {
      row-gap: $space-gutter-middle;
    }

    &-large {
      row-gap: $space-gutter-large;
    }
  }

  &--col {
    &-small {
      column-gap: $space-gutter-small;
    }

    &-middle {
      column-gap: $space-gutter-middle;
    }

    &-large {
      column-gap: $space-gutter-large;
    }
  }
}
