@use '../../styles/helpers.scss' as *;
@use './tokens.scss' as *;
@use './mixins.scss' as *;

$ns-segmented: #{$ns}-segmented;

.#{$ns-segmented} {
  @include reset-component();

  display: inline-block;
  padding: $mink-segmented-padding;
  color: var(--#{$ns}-color-text-label);
  background: var(--#{$ns}-color-bg-layout);
  border-radius: $mink-segmented-border-radius;
  transition: all var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-in-out);

  &__inner {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
  }

  &__thumb {
    position: absolute;
    width: 0;
    height: 100%;
    padding: $mink-segmented-padding 0;
    background-color: var(--#{$ns}-color-bg-elevated);
    border-radius: $mink-segmented-border-radius;
    box-shadow: var(--#{$ns}-box-shadow-tertiary);

    & ~ .#{$ns-segmented}-item:not(.#{$ns-segmented}-item--selected):not(.#{$ns-segmented}-item--disabled)::after {
      background-color: transparent;
    }
  }

  &--block {
    display: flex;

    .#{$ns-segmented}-item {
      flex: 1;
      min-width: 0;
    }
  }

  &--lg {
    border-radius: $mink-segmented-border-radius-lg;
    .#{$ns-segmented}-item__label {
      min-height: $mink-segmented-height-lg;
      padding: 0 $mink-segmented-px-lg;
      font-size: var(--#{$ns}-font-size-lg);
      line-height: $mink-segmented-height-lg;
    }

    .#{$ns-segmented}__thumb,
    .#{$ns-segmented}-item {
      border-radius: $mink-segmented-border-radius-lg;
    }
  }

  &--sm {
    border-radius: $mink-segmented-border-radius-sm;
    .#{$ns-segmented}-item__label {
      min-height: $mink-segmented-height-sm;
      padding: 0 $mink-segmented-px-sm;
      line-height: $mink-segmented-height-sm;
    }

    .#{$ns-segmented}__thumb,
    .#{$ns-segmented}-item {
      border-radius: $mink-segmented-border-radius-sm;
    }
  }

  &-motion {
    &-enter-active {
      user-select: none;
      transition:
        transform var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out),
        width var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out);
    }
  }
}

.#{$ns-segmented}-item {
  @include reset-component();

  user-select: none;

  position: relative;
  text-align: center;
  border-radius: $mink-segmented-border-radius;
  transform: translateZ(0);
  cursor: pointer;
  transition: color var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-in-out);

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: background-color var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-in-out);
    content: '';
    pointer-events: none;
  }

  &:hover:not(&--selected, &--disabled) {
    color: var(--#{$ns}-color-text);

    &::after {
      background-color: var(--#{$ns}-color-fill-secondary);
    }
  }

  &:active:not(&--selected, &--disabled) {
    color: var(--#{$ns}-color-text);

    &::after {
      background-color: var(--#{$ns}-color-fill);
    }
  }

  &--selected {
    color: var(--#{$ns}-color-text);
    background-color: var(--#{$ns}-color-bg-elevated);
    box-shadow: var(--#{$ns}-box-shadow-tertiary);
  }

  &--disabled,
  &--disabled:hover,
  &--disabled:active {
    color: var(--#{$ns}-color-text-disabled);
    cursor: not-allowed;
  }

  &__radio {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    min-height: $mink-segmented-height;
    padding: 0 $mink-segmented-px;
    overflow: hidden;
    line-height: $mink-segmented-height;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
