@use '../../styles/helpers.scss' as *;

$mink-segmented-padding: calc(var(--#{$ns}-padding-xxs) / 2);

$mink-segmented-px-sm: var(--#{$ns}-padding-xs);

$mink-segmented-px: var(--#{$ns}-padding-sm);

$mink-segmented-px-lg: var(--#{$ns}-padding);

$mink-segmented-border-radius-sm: var(--#{$ns}-border-radius-sm);

$mink-segmented-border-radius: var(--#{$ns}-border-radius);

$mink-segmented-border-radius-lg: var(--#{$ns}-border-radius-lg);

$mink-segmented-height-sm: calc(var(--#{$ns}-control-height-sm) - var(--#{$ns}-padding-xxs));

$mink-segmented-height: calc(var(--#{$ns}-control-height) - var(--#{$ns}-padding-xxs));

$mink-segmented-height-lg: calc(var(--#{$ns}-control-height-lg) - var(--#{$ns}-padding-xxs));
