@use '../../styles/helpers.scss' as *;
@use './tokens.scss' as *;
@use './mixins.scss' as *;

$ns-alert: #{$ns}-alert;

.#{$ns-alert} {
  @include reset-component();

  display: flex;
  align-items: center;
  padding: var(--#{$ns}-unit-2) var(--#{$ns}-unit-3);
  border-radius: var(--#{$ns}-border-radius);
  word-break: break-word;

  &__content {
    flex: 1;
    min-width: 0;
  }

  &__icon {
    margin-inline-end: var(--#{$ns}-unit-2);
    line-height: 0;
  }

  &__message {
    color: var(--#{$ns}-color-text-heading);
  }

  &.#{$ns-alert}--has-description {
    align-items: flex-start;
    padding: var(--#{$ns}-unit-5) var(--#{$ns}-unit-6);

    .#{$ns-alert}__icon {
      margin-inline-end: var(--#{$ns}-unit-3);
      font-size: var(--#{$ns}-unit-7);
    }

    .#{$ns-alert}__message {
      display: block;
      margin-bottom: var(--#{$ns}-unit-2);
      font-size: var(--#{$ns}-font-size-lg);
    }
  }

  &__close-btn {
    height: var(--#{$ns}-font-size-icon);
    padding: 0;
    overflow: hidden;
    font-size: var(--#{$ns}-font-size-icon);
    line-height: var(--#{$ns}-font-size-icon);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-inline-start: var(--#{$ns}-unit-2);

    .#{$icon-ns}.icon-close {
      color: var(--#{$ns}-color-icon);
      transition: color var(--#{$ns}-motion-duration-2);

      &:hover {
        color: var(--#{$ns}-color-icon-hover);
      }
    }
  }

  &--as-banner {
    margin-bottom: 0;
    box-shadow: none !important;
    border-radius: 0;
  }

  &--info {
    background-color: var(--#{$ns}-color-info-bg);
    box-shadow: inset 0 0 0 1px var(--#{$ns}-color-info);
    .#{$ns-alert}__icon {
      color: var(--#{$ns}-color-info);
    }
  }
  &--warning {
    background-color: var(--#{$ns}-color-warning-bg);
    box-shadow: inset 0 0 0 1px var(--#{$ns}-color-warning);
    .#{$ns-alert}__icon {
      color: var(--#{$ns}-color-warning);
    }
  }
  &--error {
    background-color: var(--#{$ns}-color-error-bg);
    box-shadow: inset 0 0 0 1px var(--#{$ns}-color-error);
    .#{$ns-alert}__icon {
      color: var(--#{$ns}-color-error);
    }
  }
  &--success {
    background-color: var(--#{$ns}-color-success-bg);
    box-shadow: inset 0 0 0 1px var(--#{$ns}-color-success);
    .#{$ns-alert}__icon {
      color: var(--#{$ns}-color-success);
    }
  }

  &-motion-exit-active {
    overflow: hidden;
    user-select: none;
    transition:
      opacity var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out),
      height var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out),
      padding-top var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out),
      padding-bottom var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out),
      margin-top var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out),
      margin-bottom var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-in-out);
  }

  &-motion-exit-to {
    opacity: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &-motion-exit-done {
    display: none !important;
  }
}
