@use '../../styles/helpers.scss' as *;

$ns-touch-effect: #{$ns}-touch-effect;

.#{$ns-touch-effect} {
  @include reset-component();

  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 0.25;
  pointer-events: none;

  animation: #{$ns}-wave 2s var(--#{$ns}-motion-ease-out-circ);

  @keyframes #{$ns}-wave {
    0% {
      box-shadow: 0 0 0 0 var(--wave-color);
    }

    20% {
      box-shadow: 0 0 0 6px var(--wave-color);
    }

    100% {
      box-shadow: 0 0 0 6px var(--wave-color);
      opacity: 0;
    }
  }
}
