@use '../../styles/helpers.scss' as *;

$ns-touch-effect: #{$ns}-touch-effect;

.#{$ns-touch-effect} {
  @include reset-component();

  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
  pointer-events: none !important;
  border-radius: inherit !important;
  overflow: visible !important;
  box-sizing: border-box !important;

  opacity: 0.2;
  animation: #{$ns}-wave 2s var(--#{$ns}-motion-ease-out-circ);

  @keyframes #{$ns}-wave {
    0% {
      box-shadow: 0 0 0 0 var(--wave-color);
    }

    20% {
      box-shadow: 0 0 0 6px var(--wave-color);
    }

    100% {
      box-shadow: 0 0 0 6px var(--wave-color);
      opacity: 0;
    }
  }
}
