@use '../../styles/helpers.scss' as *;
@use './tokens.scss' as *;
@use './mixins.scss' as *;

$ns-form: #{$ns}-form;

.#{$ns-form} {
  @include reset-component();
}

.#{$ns-form}-item {
  @include reset-component();

  margin-bottom: $form-item-margin-bottom;
  vertical-align: top;
  contain: layout style;

  &--has-help {
    transition: none;
  }

  &--hidden {
    display: none;

    .#{$ns}-row {
      display: none;
    }
  }

  &__label {
    display: inline-block;
    flex-grow: 0;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;

    &-content {
      display: inline-block;
      max-width: 100%;
      height: var(--#{$ns}-unit-8);
      line-height: var(--#{$ns}-unit-8);
      color: var(--#{$ns}-color-text);
      font-size: var(--#{$ns}-font-size);

      &::after {
        content: ':';
        margin: $form-item-label-colon-margin;
      }
    }

    &--align-left {
      text-align: left;
    }

    &--wrap {
      overflow: unset;
      white-space: unset;
    }

    &--required {
      .#{$ns-form}-item__label-content::before {
        display: inline-block;
        margin-right: 4px;
        color: var(--#{$ns}-color-error);
        font-size: var(--#{$ns}-font-size);
        line-height: 1;
        content: '*';
      }
    }

    &--has-colon {
      > label::after {
        content: ':' !important;
      }
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &-content {
      flex: auto;
      max-width: 100%;
    }

    &-messages {
      width: 100%;
    }
  }

  &__explain {
    @include form-item-tip();

    &--error {
      color: var(--#{$ns}-color-error);
    }

    &--warning {
      color: var(--#{$ns}-color-warning);
    }
  }

  &__extra {
    @include form-item-tip();
  }

  &__explain-motion {
    &-enter-from,
    &-exit-to {
      transform: translate3d(0, -5px, 0);
      opacity: 0;
    }

    &-enter-active,
    &-exit-active {
      user-select: none;
      transition:
        transform var(--#{$ns}-motion-duration-1_5) var(--#{$ns}-motion-ease-in-out),
        opacity var(--#{$ns}-motion-duration-1_5) var(--#{$ns}-motion-ease-in-out),
        height var(--#{$ns}-motion-duration-1_5) var(--#{$ns}-motion-ease-in-out);
    }

    &-exit-done {
      display: none !important;
    }
  }
}
