@use '../constants/index.scss' as *;

.#{$ns}-fade-in {
  &-enter-from,
  &-exit-to {
    opacity: 0;
  }

  &-enter-active,
  &-exit-active {
    transition: opacity var(--#{$ns}-motion-duration-3) var(--#{$ns}-motion-ease-out-circ);
  }

  &-exit-done {
    display: none !important;
  }
}
