@use '../constants/index.scss' as *;

// zoom-fast
.#{$ns}-zoom-fast {
  &-enter-from,
  &-exit-to {
    opacity: 0;
    transform: scale(0.85);
  }

  &-enter-active {
    transition:
      opacity var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-out-circ),
      transform var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-out-circ);
  }

  &-exit-active {
    transition:
      opacity var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-in-out-circ),
      transform var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-in-out-circ);
  }

  &-exit-done {
    display: none !important;
  }
}

// zoom-in
.#{$ns}-zoom-in {
  &-enter-from,
  &-exit-to {
    opacity: 0;
    transform: scale(0);
  }

  &-enter-active {
    transition:
      opacity var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-out),
      transform var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-out);
  }

  &-exit-active {
    transition:
      opacity var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-in),
      transform var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-in);
  }

  &-exit-done {
    display: none !important;
  }
}
