@use '../../styles/helpers.scss' as *;
@use './tokens.scss' as *;
@use './mixins.scss' as *;

$ns-collapse: #{$ns}-collapse;

.#{$ns-collapse} {
  @include reset-component();

  background-color: var(--#{$ns}-color-fill-alter);
  border-radius: var(--#{$ns}-border-radius);

  &-item {
    @include reset-component();

    border-bottom: 1px solid var(--#{$ns}-color-border);

    &:first-child {
      border-radius: var(--#{$ns}-unit-1) var(--#{$ns}-unit-1) 0 0;
    }

    &:last-child {
      border-bottom: 0;
      border-radius: 0 0 var(--#{$ns}-unit-1) var(--#{$ns}-unit-1);
    }

    &__icon {
      margin-right: var(--#{$ns}-unit-3);
      font-size: var(--#{$ns}-font-size-sm);
      transition-duration: var(--#{$ns}-motion-duration-3);
      transition-property: transform;

      &--collapsible {
        cursor: pointer;
      }
    }

    &__header {
      display: flex;
      padding: var(--#{$ns}-unit-3) var(--#{$ns}-unit-4);
      outline: 0;

      &:focus-visible {
        box-shadow: inset 0 0 0 2px var(--#{$ns}-color-primary-active);
      }

      &--collapsible {
        cursor: pointer;
      }
    }

    &__title {
      flex: auto;

      &--collapsible {
        cursor: pointer;
      }
    }

    &__extra {
      margin-left: var(--#{$ns}-unit-3);
    }

    &__content {
      padding: var(--#{$ns}-unit-4);
    }

    &--expanded {
      .#{$ns-collapse}-item__icon {
        transform: rotate(90deg);
      }
    }

    &--disabled {
    }
  }

  &--bordered {
    background-color: transparent;

    .#{$ns-collapse}-item {
      border-right: 1px solid var(--#{$ns}-color-border);
      border-left: 1px solid var(--#{$ns}-color-border);

      &:first-child {
        border-top: 1px solid var(--#{$ns}-color-border);
      }

      &:last-child {
        border-bottom: 1px solid var(--#{$ns}-color-border);
      }
    }

    .#{$ns-collapse}-item__content {
      border-top: 1px solid var(--#{$ns}-color-border);
    }
  }

  &--ghost {
    background-color: transparent;
    .#{$ns-collapse}-item {
      border: 0;
    }
  }

  &--icon-end {
    .#{$ns-collapse}-item__icon {
      order: 1;
      margin-right: 0;
      margin-left: var(--#{$ns}-unit-3);
    }
  }

  &--sm {
    .#{$ns-collapse}-item__content {
      padding: var(--#{$ns}-unit-3);
    }
  }

  &--lg {
    .#{$ns-collapse}-item__content {
      padding: var(--#{$ns}-unit-3);
    }
  }

  &-item-motion {
    &-enter-from,
    &-exit-to {
      opacity: 0;
    }

    &-enter-active,
    &-exit-active {
      overflow-y: hidden;
      transition:
        opacity var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-in-out),
        height var(--#{$ns}-motion-duration-2) var(--#{$ns}-motion-ease-in-out);
    }

    &-exit-done {
      display: none;
    }
  }
}
